<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/components/common/theme/myapp/theme.css">
</head>
<body>
{{> layouts/header}}
</body>
</html>
